/* In this file you can overwrite/extend the given magpie-styles or declare your own ones */

/* Example of extending a given magpie-style */

/*.magpie-view-stimulus-container {
    height: auto;
    max-height: 350px;
} */

/* Display all titles in red */
/*.magpie-view-title {
    color: red;
}*/

.magpie-view {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
}

/* Example of declaring your own style */
.custom-border {
  border: 1px solid powderblue;
}

/* the default */
.magpie-view-answer-container {
  text-align: center;
  margin: 45px auto;
}

.magpie-view-stimulus-grid {
  display: grid;
  grid-template-areas:
    "animationTitle"
    "animation"
    "question"
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 400px auto auto auto auto auto;
  padding: 20px;
}
animationTitle {
  grid-column: 1/2;
  grid-row: 1/2;
}
animation {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;  /* according to column (top (start) down (end) center stretch)*/
  justify-self: center;  /* according to row (left (start) center right (end) stretch)*/
}

/* grid box for answer container */
.magpie-multi-slider-grid {
  display: grid;
  grid-template-areas:
    "picture"
    "question"
    "slider"
  grid-template-columns: 50% 50%;
  padding: 20px;
  width: 100%;
  height: 100%;
}
picture {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
question {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: start;  /* according to column (top (start) down (end) center stretch)*/
  justify-self: center;  /* according to row (left (start) center right (end) stretch)*/
}
slider {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: start;
}

/* assign the stimulus picture to corresponding grid space */
.magpie-grid-slider {
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 0px 0px;
}

.optionWide {
  width: 120px;
}

input[type="range"].replied::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: green;
}

.thick {
  font-weight: bold;
}

/* change margin of next button so that all fits onto one screen */
/* gray + hovering disabled as long as not all responses are given */
.grid-button {
  /* margin: 5px auto 20px auto; */
  background-color: #a9a9a9;
  pointer-events: none;
}

.orange-button {
  /* margin: 5px auto 20px auto; */
  background-color: #FF4500;
}

.orange-button:hover{
    background: #DC143C;
}

.green-button {
  background-color: #32CD32;
}

.green-button:hover{
  background: #228B22;
}

.magpie-view-text {
  color: rgba(0, 0, 0, 0.87);
  font-size: 17px;
  line-height: 27px;
  font-family: "Lato", "Noto Sans", sans-serif;
  margin: 0 auto;
  max-width: 700px;
}

.stimulus {
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonNext {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* TODO: are the following necessary? I delete picture and header */
.magpie-grid-picture {
  grid-area: picture;
}

/* make sure that image uses its whole space */
.image-stretch {
  width: 100%;
  height: 100%;
}

/* assign the stimulus qud - question to corresponding grid space */
.magpie-grid-qud {
  grid-area: header;
  margin: auto;
  max-width: 700px;
  padding: 50px;
}

/* assign the stimulus questions + slider to corresponding grid space */
/* .magpie-grid-slider {
  grid-area: slider;
} */

/* change margin of next button so that all fits onto one screen */
/* .grid-button {
  margin: 5px auto 20px auto;
} */

/* change container of progress_bar, so that all fits on one screen */
/* .progress-bar-container {
  margin: 0 10px 0px 10px;
} */
